<div id="burgerMenu" class="burger-menu container">
    <ul class="burger-menu-list">
        <li class="burger-menu-item burger-mark">
            <a href="../index.html">Home</a>
        </li>
        <li class="burger-menu-item">
            <a href="../shopping-list.html">Shopping list
                <svg width="20" height="20">
                  <use href="./images/icons/symbol-defs.svg#icon-Vector"></use>
                </svg>
            </a>
        </li>
    </ul>
    <div class="burger-image"></div>
</div>
