<div id="burgerMenu" class="burger-menu">
  <div class="burger-image">
    <ul class="burger-menu-list">
      <li class="burger-menu-item">
        <a id="home" class="burger-menu-home" href="./index.html">Home</a>
      </li>
      <li class="burger-menu-item">
        <a
          id="shopping-list"
          class="burger-menu-shopping"
          href="./shopping-list.html"
        >
          Shopping list
          <svg class="burger-basket-icon" width="20" height="20">
            <use href="./images/icon.svg#icon-shopping-bag2"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
