<header>
  <div class="header container">
    <div>
      <a class="header-logo" href="./index.html"
        ><svg class="header-logo-svg" width="24" height="24">
          <use href="./images/icon.svg#icon-logo1"></use>
        </svg>
        <h3>Bookshelf</h3>
      </a>
    </div>

    <nav class="header-nav">
      <ul class="header-Link">
        <li><a class="home" href="./index.html">HOME</a></li>
        <li>
          <a class="shop-list header-shop-nav" href="./shopping-list.html"
            >SHOPPING LIST
            <svg class="shop-list-svg-basket" width="20" height="20">
              <use href="./images/icon.svg#icon-shopping-bag"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>

    <div class="header-seting">
      <label class="form-switch">
        <input type="checkbox" class="header-switch" />
        <i></i>
      </label>
      <div class="dropdown">
        <button class="header-user sign-up">
          Sign up
          <svg class="singl-up-svg-icon" width="20" height="20">
            <use href="./images/icon.svg#icon-right-singl-up"></use>
          </svg>
        </button>

        <button class="Log-out-btn">
          Log out
          <svg class="singl-up-svg-icon" width="20" height="20">
            <use href="./images/icon.svg#icon-right-singl-up"></use>
          </svg>
        </button>
      </div>
      <span class="header-menu" id="burgerToggle"
        ><svg class="menu-svg-icon" width="28" height="28">
          <use href="./images/icon.svg#icon-menu-burg"></use>
        </svg>
      </span>
    </div>
  </div>
</header>
