<div class="header container">
  <div class="header-logo1">
    <a href="../index.html"
      ><svg width="109" height="28">
        <use href="../images/symbol-defs.svg#icon-logo"></use>
      </svg>
    </a>
  </div>

  <div class="header-nav">
    <a class="header-nav-a">HOME</a>
    <a>SHOPPING LIST</a>
  </div>

  <div class="header-logo2">
    <label class="form-switch">
      <input type="checkbox" />
      <i></i>
    </label>

    <span class="header-menu"
      ><svg width="28" height="28">
        <use href="../images/symbol-defs.svg#icon-menu"></use>
      </svg>
    </span>
  </div>
</div>
