<div class="header container">
  <div class="header-logo">
    <a href="./index.html"
      ><svg class="header-logo-svg" width="109" height="28">
        <use href="./images/icons/symbol-defs.svg#icon-logo"></use>
      </svg>
    </a>
  </div>

  <nav class="header-nav">
    <a class="home" href="./index.html">HOME</a>
    <a class="header-shop-nav shopping-list" href="./shopping-list.html"
      >SHOPPING LIST
      <svg class="shop-list-svg-basket" width="14" height="18">
        <use href="./images/icons/symbol-defs.svg#icon-icon-basket"></use>
      </svg>
    </a>
  </nav>

  <div class="header-seting">
    <label class="form-switch">
      <input type="checkbox" class="header-switch" />
      <i></i>
    </label>

    <button class="header-user">
      Sign up
      <svg width="16" height="12">
        <use href="./images/icons/symbol-defs.svg#icon-Icon-arrow"></use>
      </svg>
    </button>

    <span class="header-menu" id="burgerToggle"
      ><svg width="28" height="28">
        <use href="./images/icons/symbol-defs.svg#icon-menu"></use>
      </svg>
    </span>
  </div>
</div>
