<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css"
        integrity="sha512-4xo8blKMVCiXpTaLzQSLSw3KFOVPWhm/TRtuPVc4WG6kUgjH6J03IBuG7JZPkcWMxJ5huwaBpOpnwYElP/m6wg=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
   <link rel="stylesheet" href="../css/modal.css"> 
   <link rel="stylesheet" href="../css/styles.css">
    <title>Modal</title>
</head>
<body>
    <div class="backdrop is-open">
        <div class="modal">
    
            <button type="button" class="modal-btn">
                <svg width="12" height="12" class="modal-icon-close">
                    <use href="../images/symbol-defs.svg#icon-close"></use>
                </svg>
            </button>
            <div class="content">
                <img src="../images/Rectangle 13.png" alt="" class="content-image">
               
            </div> 
            <h1 class="content-title">HELLO BEAUTIFUL</h1>
                <p class="content-descr">Ann Napolitano</p>
            <p class="modal-descr">In a homage to Louisa May Alcott’s “Little Women,” a young man’s dark past resurfaces as
                he gets to the know the family
                of his college sweetheart.</p>
            <div class="links">
                <a href="" target="_blank"><img href="" alt=""  /></a>
                <a href="" target="_blank"><img href="" alt=""  /></a>
            </div>
            <button type="button" class="add-remove-btn">add to shopping list</button>
            <p class="information visually-hidden">Сongratulations! You have added the book to the shopping list. To delete, press the button “Remove from the shopping
            list”.</p>
        </div>
    </div>
    <script type="module" src="../js/modal-scroll.js"></script>
</body>
</html>
