<div class="backdrop is-open">
        <div class="modal">
    
            <button type="button" class="modal-btn">
                <svg width="16" height="16" class="modal-icon-close">
                    <use href="../images/symbol-defs.svg#icon-close"></use>
                </svg>
            </button>
            <div class="content">
                <img src="./images/myPhotos/Rectangle 13.png" alt="content-image" class="content-image">
               
            </div> 
            <h1 class="content-title">HELLO BEAUTIFUL</h1>
             <p class="content-descr">Ann Napolitano</p>
            <p class="modal-descr">
                In a homage to Louisa May Alcott’s “Little Women,” 
                a young man’s dark past resurfaces as
                he gets to the know the family
                of his college sweetheart.</p>
            <div class="links">
                <a href="" target="_blank" class="link-app"><img src="./images/myPhotos/amazon.png" alt="amazon"  /></a>
                <a href="" target="_blank" class="link-app"><img src="./images/myPhotos/book.png" alt="book"  /></a>
            </div>
            <button type="button" class="add-remove-btn">add to shopping list</button>
            <p class="information visually-hidden">
                Сongratulations! You have added the book to the shopping list. 
                To delete, press the button “Remove from the shopping
            list”.</p>
        </div>
    </div>
  

