<section class="shopping-list container">
  <h1 class="shoplist-title">
    Shopping <span class="shoplist-title-span">List</span>
  </h1>
  <div class="shoplist">
    <div class="shoplist-container">
      <img
        src=""
        alt="Book cover"
        class="shoplist-Bookcover"
        width="100"
        height="142"
      />

      <div class="shoplist-rightbar">
        <div class="shoplist-title-btn">
          <div class="shoplist-title-text">
            <h2 class="shoplist-title-book">HELLO BEAUTIUL</h2>
            <p class="shoplist-category-book">Hardcover fiction</p>
          </div>

          <button type="click" class="shoplist-btn-delete">
            <svg class="shoplist-btn-icon" width="16" height="16">
              <use href="../images/symbol-defs.svg#icon-cart"></use>
            </svg>
          </button>
        </div>
        <p class="shoplist-shotcontens">
          David Burroughs was once a devoted father to his three-year-old son
          Matthew, living a dream life just a short drive away from the
          working-class suburb where he and his wife, Cheryl, first fell in
          love--until one fateful night when David woke suddenly to discover
          Matthew had been murdered while David was asleep just down the hall.
        </p>

        <div class="shoplist-buttonhalf">
          <p class="shoplist-author">Ann Napolitano</p>

          <div class="shoplist-logo-box">
            <ul class="shoplist-logo-list">
              <li class="">
                <a href="" class="">
                  <picture class="shoplist-logo-amazon">
                    <source
                      srcset="
                        ../images/shopping-list/amazon-1x.png 1x,
                        ../images/shopping-list/amazon-2x.png 2x
                      "
                    />
                    <img
                      src="../images/shopping-list/amazon-1x.png"
                      alt="amazon logo"
                      width="32"
                      height="11"
                    />
                  </picture>
                </a>
              </li>
              <li class="">
                <svg class="shoplist-logo-book" width="16" height="16">
                  <use href="../images/symbol-defs.svg#icon-Icon-book"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="shoplist-error">
      <h1 class="shoplist-title error">
        Shopping <span class="shoplist-title-span">List</span>
      </h1>
      <div class="shoplist-error-content">
        <p class="shoplist-error-text">
          This page is empty, add some books and proceed to order.
        </p>

        <picture class="shoplist-error-books">
          <source
            srcset="
              ../images/shopping-list/books-dt-1x.png 1x,
              ../images/shopping-list/books-dt-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../images/shopping-list/books-tab-1x.png 1x,
              ../images/shopping-list/books-tab-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../images/shopping-list/books-mob-1x.png 1x,
              ../images/shopping-list/books-mob-2x.png 2x
            "
            media="(min-width: 375px)"
          />
          <span class="shoplist-error-img"
            ><img src="../images/shopping-list/books-dt-1x.png" alt="books"
          /></span>
        </picture>
      </div>
    </div>
  </div>
</section>
