<div class="supporters-container">
  <div class="support-title-container">
    <h3 class="support-title">Support Ukraine</h3>
    <svg
      class="support-icon"
      width="20"
      height="32"
      href="../images/icons/symbol-defs.svg#icon-Vector-emblem"
    ></svg>
  </div>
  <div class="swiper-initialized">
    <ul class="swiper-wraper">
      <li class="support-item">
        <span class="support-number">01</span>
        <a
          href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
          ><img src="../images/blocks-img/save-the-children.png" alt=""
        /></a>
      </li>
      <li class="support-item">
        <span class="support-number">02</span>
        <a href="https://www.projecthope.org/country/ukraine/"
          ><img src="../images/blocks-img/project-hope.png" alt=""
        /></a>
      </li>
      <li class="support-item">
        <span class="support-number">03</span>
        <a href="https://internationalmedicalcorps.org/country/ukraine/"
          ><img src="../images/blocks-img/medical-corps.png" alt=""
        /></a>
      </li>
      <li class="support-item">
        <span class="support-number">04</span>
        <a href="https://www.razomforukraine.org/"
          ><img src="../images/blocks-img/razom.png" alt=""
        /></a>
      </li>
      <li class="support-item">
        <span class="support-number">05</span>
        <a href="https://www.actionagainsthunger.org/location/europe/ukraine/"
          ><img src="../images/blocks-img/action-against-hunger.png" alt=""
        /></a>
      </li>
      <li class="support-item">
        <span class="support-number">06</span>
        <a href="https://prytulafoundation.org/en"
          ><img src="../images/blocks-img/sergiy-prytula.png" alt=""
        /></a>
      </li>
      <li class="support-item">
        <span class="support-number">07</span>
        <a href="https://www.msf.org/ukraine"
          ><img src="../images/blocks-img/sans-frontieres.png" alt=""
        /></a>
      </li>
      <li class="support-item">
        <span class="support-number">08</span>
        <a href="https://www.wvi.org/emergencies/ukraine"
          ><img src="../images/blocks-img/world-vision.png" alt=""
        /></a>
      </li>
      <li class="support-item">
        <span class="support-number">09</span>
        <a href="https://u24.gov.ua/uk"
          ><img src="../images/blocks-img/united24-2x.png" alt=""
        /></a>
      </li>
    </ul>
  </div>
  <button class="support-btn">
    <svg class="support-btn-svg" href="../images/icons/symbol-defs.svg#"></svg>
  </button>
</div>
