.burger-menu.burger-menu-show {
  display: flex;
}

.burger-menu {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.burger-menu.burger-menu-show {
  opacity: 1;
}
.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 10px 0 rgba(245, 245, 247, 0.1);
  background: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    rgb(79, 46, 232) 18.02733987569809%,
    rgb(255, 255, 255) 100%
  );
  background-repeat: no-repeat;
  display: none;
  flex-direction: column;
}

.burger-image {
  background-image: url(../images/Group.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 147% auto;
  background-position: bottom -121px right -116px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .mob-menu-img {
    background-image: url(../images/Group@2x.png);
  }
}
.burger-menu-user {
    position: absolute;
    width: 184px;
    height: 48px;
    left: 20px;
    top: 104px;
    box-sizing: border-box;
    border: 1.5px solid rgb(17, 17, 17);
    border-radius: 18px;
    background: rgb(79, 46, 232);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    padding: 0 14px;
}
.burger-menu-list {
  margin: 247px auto;
  justify-content: center;
  align-items: center;
}

.burger-menu-item {
  display: flex;
  margin-bottom: 16px;
  flex-direction: column;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.burger-menu-home {
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 7px 16px;
  padding: 8px 16px;
  width: 72px;
  height: 34px;
  font-weight: bold;
}

.burger-menu-shopping {
  color: #f6f6f6;
  font-weight: bold;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.overflow-hidden {
  overflow: hidden;
}
#shopping-list.active,
#home.active {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px 16px 8px 16px;
  border-radius: 36px;
  background: rgb(234, 198, 69);
  color: rgb(17, 17, 17);
  font-weight: 700;
}
