body.light {
  --bg-color: #f6f6f6;
  --bg-header-color: #ffffff;
  --text-color: #111111;
  --br-color: #111111;
  --color-cal: #4f2ee8;
  /* --amazon: grayscale(100%);
  --amazon-hover: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
  --apple: grayscale(100%);
  --apple-hover: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35)); */
}

body.dark {
  --bg-color: #202024;
  --bg-header-color: #111111;
  --text-color: #ffffff;
  --br-color: #ffffff;
  --color-cal: #eac645;
  /* --amazon: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.35));
  --amazon-hover: brightness(0) invert(1);
  --apple: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.35));
  --apple-hover: brightness(0) invert(1); */
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

.header-nav,
.header-user {
  display: none;
}

.header {
  background-color: var(--bg-header-color);
  height: 64px;
  border: solid 1.5px var(--br-color);
  border-radius: 0 0 8px 8px;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 auto;
  z-index: 999;
}

.header-logo {
  padding: 18px 0 18px 0;
  display: flex;
  align-items: center;
  gap: 5px;
}

.header-seting {
  display: flex;
  align-items: center;
  gap: 14px;
  position: absolute;
  right: 20px;
}

.header-menu {
  padding: 18px 0 18px 0;
}

.home {
  transition: all 2s ease;
}
.home:hover {
  border-radius: 36px;
  padding: 8px 15px;
  background-color: #eac645;
}

.shop-list {
  transition: all 2s ease;
}
.shop-list:hover {
  border-radius: 36px;
  padding: 8px 15px;
  width: 185px;
  background-color: #eac645;
}

.active-home {
  border-radius: 36px;
  padding: 8px 15px;
  background-color: #eac645;
  color: #111111;
  font-weight: 700;
  transition: all 1s ease;
}

.active-shop {
  border-radius: 36px;
  padding: 8px 15px;
  background-color: #eac645;
  color: #111111;
  width: 185px;
  font-weight: 700;
  transition: all 1s ease;
}

.shop-list {
  white-space: nowrap;
  overflow: hidden;
}

.shop-list-svg-basket,
.menu-svg-icon {
  fill: var(--text-color);
  stroke: var(--text-color);
}

/* === start switch styles === */
.form-switch {
  display: flex;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.form-switch i {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 26px;
  background: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    rgb(79, 46, 232) 18%,
    rgb(0, 0, 0) 70%
  );
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}
.form-switch i::before {
  content: '';
  position: absolute;
  left: 0;
  width: 42px;
  height: 22px;
  background: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    rgb(79, 46, 232) 18%,
    rgb(255, 255, 255) 70%
  );
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}
.form-switch i::after {
  content: '';
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}
.form-switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}
.form-switch:active input:checked + i::after {
  transform: translate3d(16px, 2px, 0);
}
.form-switch input {
  display: none;
}
.form-switch input:checked + i {
  background-color: #fff;
}
.form-switch input:checked + i::before {
  transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}
.form-switch input:checked + i::after {
  transform: translate3d(22px, 2px, 0);
}
/* === end switch styles === */

/*================ tablet ================ */
@media screen and (min-width: 768px) {
  .header-menu {
    display: none;
  }

  .header {
    height: 72px;
    margin: 0 auto;
  }

  .header-logo {
    padding: 18px 0 18px 0;
  }

  .header-nav {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 40px;
    /* display: none; */
  }

  .shop-list-svg-basket {
    margin-left: 8px;
  }

  .header-seting {
    display: flex;
    align-items: center;
    gap: 24px;
    position: absolute;
    right: 32px;
  }

  .header-user {
    display: flex;
    align-items: center;
    color: #fff;
    padding-left: 18px;
    border: 1.5px solid #111111;
    background-color: #4f2ee8;
    border-radius: 18px;
    width: 184px;
    height: 48px;
    gap: 76px;
    transition: background-color 0.9s ease-in-out;
  }
  .header-user:hover {
    background: radial-gradient(
      189.32% 190.93% at 59.76% -23.42%,
      rgb(79, 46, 232) 20%,
      rgb(255, 255, 255) 100%
    );
  }
}

/*================ descktop ================ */

@media screen and (min-width: 1440px) {
  .header {
    height: 72px;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  .header-nav {
    display: flex;
    align-items: center;
    gap: 24px;
    /* display: none; */
  }

  .shop-list-svg-basket {
    margin-left: 8px;
  }

  .header-seting {
    display: flex;
    align-items: center;
    gap: 24px;
    position: absolute;
    right: 24px;
  }
}
