:root {
  --myFont: 'DM Sans', sans-serif;
}
.modal-open {
  overflow: hidden;
  padding-right: 16px !important;
}
.modal-window-shop {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: #00000080;
}
.modal-content {
  background-color: var(--bg-color);
  margin: auto;
  padding: 40px 25px;
  border: 1px solid var(--br-color);
  border-radius: 18px;
  width: 336px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  animation: fadeIn 0.3s ease;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(-80px) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0) scale(1);
  }
}
.modal-image-container {
  object-fit: contain;
  width: 287px;
  margin-bottom: 14px;
}
.card-books-category-button:hover {
  color: #fff;
  background-color: #4f2ee8;
}
.card-books-category-button:focus {
  color: #fff;
  background-color: #4f2ee8;
}
.close-window {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  stroke: var(--text-color);
}
.close-window:hover path {
  stroke: #4f2ee8;
}
.modal-main-content-text h2 {
  font-family: var(--myFont);
  color: var(--text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin-bottom: 4px;
}
.book-author {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.04em;
  color: #b4afaf;
}
.modal-book-description {
  font-family: var(--myFont);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  padding: 18px 0;
}
.card-books-category-button {
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 14px;
  font-family: var(--myFont);
  background-color: var(--bg-color);
  border: 3px solid #4f2ee8;
  border-radius: 40px;
  padding: 14px 23px;
  margin-top: 40px;
  transition: background-color 0.4s ease;
  line-height: 1.29;
  letter-spacing: -0.01em;
}
p#congratulations {
  font-weight: 400;
  font-size: 10px;
  text-align: center;
  line-height: 120%;
  letter-spacing: -0.04em;
  color: var(--con-color);
  width: 242px;
  margin: 0 auto;
  margin-top: 8px;
}
.links-books {
  display: flex;
  flex-direction: row;
  gap: 20px;
  filter: var(--amazon-hover);
}
.filter-img:hover {
  filter: var(--amazon);
}
@media (min-width: 768px) {
  .book-author {
    font-size: 14px;
  }
  .modal-content {
    width: 579px;
  }
  p#congratulations {
    font-weight: 400;
    font-size: 10px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: var(--con-color);
    width: 324px;
    margin: 0 auto;
    margin-top: 8px;
  }
  .main-modal-window-content {
    display: flex;
    justify-content: space-between;
  }
  .modal-image-container {
    width: 192px;
    height: 281px;
  }
  .modal-image {
    border-radius: 8px;
    object-fit: cover;
  }
  .modal-main-content-text {
    width: 279px;
  }
  .modal-book-description {
    font-family: var(--myFont);
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.04em;
    padding: 20px 0;
  }
  .close-window:hover path {
    stroke: #4f2ee8;
  }
  .modal-main-content-text h2 {
    font-family: var(--myFont);
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
  }
  .modal-main-content-text .book-author {
    margin-top: 4px;
    font-family: var(--myFont);
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.04em;
    color: #b4afaf;
  }
  .card-books-category-button {
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 14px;
    font-family: var(--myFont);
    background-color: var(--bg-color);
    border: 3px solid #4f2ee8;
    border-radius: 40px;
    padding: 14px 28px;
    margin-top: 40px;
    transition: background-color 0.4s ease;
  }
}
@media screen and (orientation: landscape) {
  .modal-content {
    max-height: 100vh;
    overflow-y: auto;
  }
}
