h1 {
  font-weight: 700;
  font-size: 32px;

  line-height: 38px;
  line-height: 1.1875;
  letter-spacing: -0.04em;
  color: black;
}

h2 {
  font-weight: 700;
  font-size: 16px;

  line-height: 18px;
  line-height: 1.125;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: black;
}

.container {
  outline: 2px dashed #f44336;
}

.shopping-list {
  margin-bottom: 20px;
}

.shoplist {
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;
  max-width: 335px;
  height: 170px;
}

/* .shopping-list {
  margin: 0 auto;
} */
.shoplist-container {
  display: flex;
  justify-content: space-between;
  padding: 14px;
}

.shoplist-bookcover {
  border-radius: 8px;
  width: 100px;
  height: 142px;
  background-color: aqua;
  overflow: hidden;
}
.shoplist-tophalf {
}
.shoplist-title {
  margin-bottom: 40px;
}
.shoplist-title-span {
  color: blue;
}
.shoplist-rightbar {
}
.shoplist-title-btn {
  display: flex;
  justify-content: space-between;
}

.shoplist-title-text {
  margin-bottom: 8px;
}
.shoplist-title-book {
}
.shoplist-category-book {
  line-height: 14px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  color: #b4afaf;
}
.shoplist-btn-delete {
  width: 28px;
  height: 28px;

  background-color: #4f2ee8;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.shoplist-btn-delete:hover:focus {
  background-color: #404bbf;
}

.shoplist-btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.shoplist-shotcontens {
  width: 193px;
  height: 68px;
  margin-bottom: 16px;
  overflow: hidden; /* Ця властивість приховує текст, що виходить за рамки */
}
.shoplist-text {
}
.shoplist-buttonhalf {
  display: flex;
  justify-content: space-between;
}
.shoplist-author {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;

  line-height: 14px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  color: #b4afaf;
}

.shoplist-logo-box {
}
.shoplist-logo-list {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Розміщує елементи по вертикалі по центру */
  /* margin-left: auto; Вирівнюємо блок "shoplist-logo-box" до правого краю */
  gap: 8px;
  width: 56px;
  height: 16px;
}
.shoplist-logo-amazon {
  /* list-style: none; */
  margin-top: auto;
}
.shoplist-logo-amazon:hover:focus {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
  mix-blend-mode: luminosity;
}

.shoplist-logo-book {
  fill: #4f2ee8;
}

.error {
  margin-bottom: 120px;
}

.shoplist-error-content {
  justify-content: center; /* Розміщує контент по горизонталі по центру */
  align-items: center; /* Розміщує контент по вертикалі по центру */
}

.shoplist-error-text {
  /* width: 244px; */
  font-weight: 400;
  font-size: 14px;
  margin: 0 auto;

  line-height: 18px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 14px;
}
.shoplist-error-books {
}

.shoplist-error-img {
  margin: 0 auto; /* Збільшує відступи по обох боках для розміщення по центру */
}
