.Form-window {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #4f2ee8;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 9999;
}
.Close-form-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  width: 18;
  height: 18;
  border: none;
  background-color: #202024;
  fill: #f6f6f6;
}

.Close-form-btn:hover {
  fill: #4f2ee8;
}
.auth__modal {
  margin: auto;
  width: 335px;
  height: 384px;
  background-color: #202024;
  border: 2px solid #111;
  border-radius: 18px;
  padding: 40px 20px;
  transition: transform 0.25s cubic-bezier(0.17, 0.67, 0.83, 0.67),
    opacity 0.25s cubic-bezier(0.17, 0.67, 0.83, 0.67),
    visibility 0.25s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.form__field {
  margin-bottom: 24px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  border: 2px solid #f6f6f6;
  border-radius: 40px;
  width: 295px;
  height: 50px;
  color: #f6f6f6;
  background-color: #202024;
}

.form__field input {
  /* background-color: #202024; */
  border: none;
  margin: 0;
  padding: 0 0 0 10px;
  transition: border 0.25s cubic-bezier(0.17, 0.67, 0.91, 1.61);
  /* color: #f6f6f6; */
  color: #202024;
  outline: none;
  border-radius: 40px;
  width: 250px;
  height: 45px;
}
.form__field input:focus,
.form__field input:active {
  background-color: #202024;
  color: #f6f6f6;
}
.form__label {
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #f6f6f6;
  -webkit-user-select: none;
  user-select: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.12;
  transition: transform 0.25s cubic-bezier(0.17, 0.67, 0.91, 1.61);
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
}
.form__input:focus + .form__label,
.form__input:hover + .form__label {
  color: #4f2ee8;
  /* transform: translateY(-45px); */
}
.form__label {
  transform: translateY(-45px);
}
.form__btn {
  letter-spacing: -0.01em;
  text-transform: uppercase;
  width: 295px;
  height: 50px;
  color: #202024;
  cursor: pointer;
  background-color: #f6f6f6;
  border: 2px solid #111;
  border-radius: 40px;
  margin-bottom: 14px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.12;
  transition: background-color 0.25s cubic-bezier(0.17, 0.67, 0.91, 1.61),
    border 0.25s cubic-bezier(0.17, 0.67, 0.91, 1.61);
}
.form__btn:hover,
.form__btn:focus {
  background-color: #4f2ee8;
  border: 3px solid #4f2ee8;
}
.form__btns {
  justify-content: center;
  gap: 5px;
  display: flex;
}
.form__btn-up,
.form__btn-in,
.form__btn-out {
  letter-spacing: -0.01em;
  color: rgba(246, 246, 246, 0.5);
  text-transform: uppercase;
  cursor: pointer;
  background-color: #202024;
  border: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  position: relative;
}
.form__btn-up:hover,
.form__btn-in:hover,
.form__btn-out:hover {
  color: #4f2ee8;
}
.form__btn-up:after,
.form__btn-in:after,
.form__btn-out:after {
  content: '';
  width: 0;
  height: 1.5px;
  background-color: #4f2ee8;
  transition: width 0.3s ease-out;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%);
}
html.dark .form__btn-up:after,
html.dark .form__btn-in:after,
html.dark .form__btn-out:after {
  background-color: #eac645;
}

.form__btn-up:hover:after,
.form__btn-in:hover:after,
.form__btn-out:hover:after {
  width: 85%;
}
.form__icon {
  width: 18px;
  height: 18px;
  fill: #fff;
  position: absolute;
  top: 50%;
  right: 22px;
  transform: translateY(-50%);
}

/* ================================================================================== */
@media screen and (min-width: 1440px) {
  .auth__modal {
    padding: 80px 40px 40px;
    border: 2px solid #f6f6f6;
    border-radius: 18px;
    width: 579px;
    height: 516px;
  }
  .Close-form-btn {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 28;
    height: 28;
    border: none;
    background-color: #202024;
    fill: #f6f6f6;
  }
  .form__field {
    margin-bottom: 28px;
    /* padding: 20px 173px 20px 40px; */
    width: 499px;
    height: 64px;
    color: #f6f6f6;
  }
  .form__field input {
    width: 430px;
    height: 60px;
    /* background-color: #202024; */
    border-radius: 40px;
  }
  .form__label {
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: -0.01em;
  }
  .form__label {
    transform: translateY(-55px);
  }

  .form__btn {
    width: 499px;
    height: 64px;
    margin-top: 12px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.33;
  }
  .form__btn-up,
  .form__btn-in,
  .form__btn-out {
    font-size: 18px;
    line-height: 1.33;
  }
  .form__icon {
    width: 28px;
    height: 28px;
    right: 30px;
  }
}
